.header {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1d1def;
    border-radius: 10px;
    margin-top: 10px;
    z-index: 2;
}


.logo {
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.navbar a {
    position: relative;
    font-size: 17px;
    color: white;
    font-weight: 600;
    margin-left: 30px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #0284C7;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar a:hover::before {
    width: 100%;
    left: 0;
    transform: translateX(0);
}

.hamburguer {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.navbar {
    display: flex;
    transition: transform 0.3s ease;
}

.navbar a.active {
    color: #0284C7;
}

@media (max-width: 1100px) {
    .logo {
        font-size: 20px;
    }

    .navbar a {
        font-size: 15px;
        margin-left: 25px;
    }

    .header {
        width: 95%;
    }
}


@media (max-width: 800px) {
    .hamburguer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .navbar {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        padding: 10px;
        left: 0;
        right: 0;
        background-color: #1d1d1def;
        border-radius: 10px;
    }

    .navbar a {
        margin-top: 5px;
        padding: 8px;
        margin-left: 0;
    }

    .navbar a.active {
        background-color: #3B3B3B;
        border-left: 5px solid #0284C7;
        color: white;
    }

    .navbar a:hover::before {
        width: 0;
    }

    .navbar.active {
        display: flex;
    }

    .header {
        width: 80%;
    }

    .logo {
        font-size: 22px;
    }
}

@media (max-width: 350px) {
    .logo {
        font-size: 20px;
    }

    .header {
        padding: 15px 20px;
    }

}